body {
    font-family: sans-serif;
   
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.container{
             max-width:900px;
             margin:0 auto;
              color:black; 
              font-family:'sans-serif';
              padding-top:20px;
              padding-left:20px;
              padding-right:20px;
    
}
#comment{
    width:160px;
    height:30%;
}
